body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

input{
    outline: none;
    border: none;
    border-bottom: solid white 3px;
    background-color: black;
    color: white;
    height: 3em;
    width: 20em;
    font-size: 1em;
}

#submit{
    border-radius: 5px;
    background-color: aquamarine;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 2em;
    height: 3em;
    width: fit-content;
    transition-property: "box-shadow";
    transition-duration: 0.5s;
    font-weight: 600;
    font-size: 1em;
}

#submit:hover{
    box-shadow: 3px 3px 10px rgba(127, 255, 212, 0.926);
}

.result{
    /* border: solid red 2px; */
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    width: fit-content;
    margin-top: 1em;
    height: 5em;
    padding-inline: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    display: none;
    justify-content: center;
    color: white;
}
